.error { color: red; }
.center { text-align: center; }
body { background-color: #0C81D1 !important; }


.index-single-post { margin: 15px; }
.index-single-post a { color: black; }

nav .navbar-right { margin-right: 15px; }

.page-title { color: #BA0067; font-size: 36px; text-align: center; margin: 30px 0; }

.post-show-title { font-size: 36px}
article.post { background-color: white; padding: 30px 30px 20px; border-radius: 5px;}

/* POSTS INDEX */

.posts-post-title { color: #063E75 }
.posts-post-title:visited { color: #353C9A; }
.posts-post-author  {}
.posts-post-bottom-row { font-size: 12px}

footer { text-align: center; margin: 22px; color: #BA0067 }


/* POST SHOW */

.post-main-container { background-color: #F0F3FC }
.post-main-content { padding: 10px}

/* COMMENTS */

.comments-section {
    background-color: green;
    padding: 20px;
}
.comment {
    background: blue;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
